.floatingdiv {
  justify-content: space-around;
  background: white;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 0px 28px 0px 0px;
  height: 4rem;
  width: 10rem;
  border: 3px solid black;
}
.floatingdiv > img {
  transform: scale(0.4);
  animation: scale2 1s linear infinite alternate-reverse;
}
@keyframes scale2 {
  100% {
    transform: scale(0.5);
  }
}
.floatingdiv > span {
  font-family: sans-serif;
  font-size: 16px;
  /* yahan ye color add kia hy bad mein dark mode k waqt */
  color: black;
}

@media (max-width: 980px) {
  .floatingdiv{
    width: 6rem;
    height: 2rem;
    padding: 0px 20px 0px 0px;
  }
  .floatingdiv img {
    height: 3rem;
  }
  .floatingdiv span {
    font-size: 12px;

  }

}